@import url("https://use.typekit.net/dse4dnl.css");

body {
  font-family: "halyard-text", sans-serif;
  font-weight: 300;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "halyard-display", sans-serif;
  font-weight: bold;
}

strong,
b {
  font-weight: bold;
}

a {
  color: #0036f9;
  text-decoration: underline;
}

a:hover {
  color: #002bc7;
}

.btn-close {
  --bs-btn-close-opacity: .75;
  --bs-btn-close-hover-opacity: .85;
}

.btn-fit-blue {
  color: #fff;
  background-color: #0036f9;
  border-color: #0036f9;
}

.btn-fit-blue:hover {
  color: #fff;
  background-color: #002ed4;
  border-color: #002bc7;
}

.btn-check:focus+.btn-fit-blue,
.btn-fit-blue:focus {
  color: #fff;
  background-color: #002ed4;
  border-color: #002bc7;
  box-shadow: 0 0 0 0.25rem rgba(38, 84, 250, 0.5);
}

.btn-check:checked+.btn-fit-blue,
.btn-check:active+.btn-fit-blue,
.btn-fit-blue:active,
.btn-fit-blue:active:first-child,
.btn-fit-blue.active,
.show>.btn-fit-blue.dropdown-toggle,
:not(.btn-check)+.btn.btn-fit-blue:active {
  color: #fff;
  background-color: #002bc7;
  border-color: #0029bb;
}

.btn-check:checked+.btn-fit-blue:focus,
.btn-check:active+.btn-fit-blue:focus,
.btn-fit-blue:active:focus,
.btn-fit-blue.active:focus,
.show>.btn-fit-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(38, 84, 250, 0.5);
}

.btn-fit-blue:disabled,
.btn-fit-blue.disabled {
  color: #fff;
  background-color: #0036f9;
  border-color: #0036f9;
}

.btn-fit-green {
  color: #000;
  background-color: #12c477;
  border-color: #12c477;
}

.btn-fit-green:hover {
  color: #000;
  background-color: #36cd8b;
  border-color: #2aca85;
}

.btn-check:focus+.btn-fit-green,
.btn-fit-green:focus {
  color: #000;
  background-color: #36cd8b;
  border-color: #2aca85;
  box-shadow: 0 0 0 0.25rem rgba(15, 167, 101, 0.5);
}

.btn-check:checked+.btn-fit-green,
.btn-check:active+.btn-fit-green,
.btn-fit-green:active,
.btn-fit-green:active:first-child,
.btn-fit-green.active,
.show>.btn-fit-green.dropdown-toggle,
:not(.btn-check)+.btn.btn-fit-green:active {
  color: #000;
  background-color: #41d092;
  border-color: #2aca85;
}

.btn-check:checked+.btn-fit-green:focus,
.btn-check:active+.btn-fit-green:focus,
.btn-fit-green:active:focus,
.btn-fit-green.active:focus,
.show>.btn-fit-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(15, 167, 101, 0.5);
}

.btn-fit-green:disabled,
.btn-fit-green.disabled {
  color: #000;
  background-color: #12c477;
  border-color: #12c477;
}

.fit-green {
  color: #12c477;
}

.fit-green:hover {
  color: #36cd8b;
}

button.fit-green:focus {
  box-shadow: 0 0 0 0.25rem rgba(15, 167, 101, 0.5);
  border-radius: .25rem;
}

.btn-fit-pink {
  color: #fff;
  background-color: #ff2eaa;
  border-color: #ff2eaa;
}

.btn-fit-pink:hover {
  color: #fff;
  background-color: #ff4db7;
  border-color: #ff43b3;
}

.btn-check:focus+.btn-fit-pink,
.btn-fit-pink:focus {
  color: #fff;
  background-color: #ff4db7;
  border-color: #ff43b3;
  box-shadow: 0 0 0 0.25rem rgba(217, 39, 145, 0.5);
}

.btn-check:checked+.btn-fit-pink,
.btn-check:active+.btn-fit-pink,
.btn-fit-pink:active,
.btn-fit-pink:active:first-child,
.btn-fit-pink.active,
.show>.btn-fit-pink.dropdown-toggle,
:not(.btn-check)+.btn.btn-fit-pink:active {
  color: #fff;
  background-color: #ff58bb;
  border-color: #ff43b3;
}

.btn-check:checked+.btn-fit-pink:focus,
.btn-check:active+.btn-fit-pink:focus,
.btn-fit-pink:active:focus,
.btn-fit-pink.active:focus,
.show>.btn-fit-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 39, 145, 0.5);
}

.btn-fit-pink:disabled,
.btn-fit-pink.disabled {
  color: #fff;
  background-color: #ff2eaa;
  border-color: #ff2eaa;
}

.fit-pink {
  color: #ff2eaa;
}

.fit-pink:hover {
  color: #ff4db7;
}

button.fit-pink:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 39, 145, 0.5);
  border-radius: .25rem;
}

.cta--button,
.page .browse-preview>a {
  font-family: halyard-display, sans-serif;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #FFFFFF;
  background: #000000;
  padding: 0.45em 1.6em;
  overflow: hidden;
  z-index: 0;
  letter-spacing: 0.05em;
  font: 700 14px/1.2 halyard-display, sans-serif;
  border: none;
  outline-color: #000000;
}

@media screen and (min-width: 768px) {

  .cta--button,
  .page .browse-preview>a {
    padding: 0.3em 1.7em;
  }
}

@media screen and (min-width: 1200px) {

  .cta--button,
  .page .browse-preview>a {
    padding: 0.2em 1.5em;
  }
}

.cta--button::before,
.page .browse-preview>a::before,
.cta--button:after,
.page .browse-preview>a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0036F9;
  z-index: -1;
}

.cta--button:after,
.page .browse-preview>a::after {
  left: -100%;
  background-color: #000000;
  transition: left 0.3s ease;
}

.cta--button:hover,
.page .browse-preview>a:hover {
  color: #FFFFFF;
}

.cta--button:hover:after,
.page .browse-preview>a:hover::after {
  left: 0;
}

.cta--button span,
.page .browse-preview>a span {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {

  .cta--button span,
  .page .browse-preview>a span {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {

  .cta--button span,
  .page .browse-preview>a span {
    font-size: 20px;
  }
}

@media (min-width: 768px) {

  .cta--button,
  .page .browse-preview>a {
    font-size: 17px;
  }
}

@media (min-width: 1200px) {

  .cta--button,
  .page .browse-preview>a {
    font-size: 19px;
  }
}

.cta--pink {
  outline-color: blue;
}

.cta--pink::before,
.page .browse-preview>a::before {
  background-color: #FF2EAA;
}

.cta--green::before {
  background-color: #12c477;
}

/* header */
.logo h1 {
  font-size: 4.5rem;
}

.navbar-brand {
  line-height: 0;
}

.navbar-brand img {
  height: 50px;
}

.main-navbar .navbar-nav .nav-link {
  font-family: "halyard-display", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
}

.main-navbar .user-info .navbar-nav .nav-link {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
}

@media (min-width:768px) {
  header .main-navbar {
    padding-top: 1rem;
  }

  .navbar-brand img {
    height: 92px;
  }

  .main-navbar>.container {
    align-items: end;
  }

  .main-navbar .nav-item:not(:first-of-type) {
    margin-left: 1rem;
  }
}

header .logo img {
  max-height: 50px;
  max-width: 100%;
}

@media (min-width:992px) {
  .navbar-brand img {
    height: 100px;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

/* footer  */
footer #fit-logo {
  height: 25px;
}

/* Search  */
#searchModal {
  --bs-border-width: 2px;
  --bs-border-color: #000000;
  --bs-modal-border-color: #000000;
}

#searchModal .modal-content {
  background-color: #febf3a;
}

#searchModal .form-control,
#searchModal .form-select {
  border-radius: 0;
}

#searchModal .form-label {
  font-weight: bold;
}

#searchModal .form-text {
  color: rgb(33, 37, 41);
}

#searchModal .form-control:focus {
  border-color: #000000;
  box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

#advanced-search-modal .value {
  margin-bottom: 0;
  display: flex;
}

#advanced-search-modal .value select,
#advanced-search-modal .value input {
  min-width: 0;
}

#advanced-search-modal .value>* {
  margin-top: 0;
}

#advanced-search-modal .value select:first-child,
#advanced-search-modal .value input:first-child,
#advanced-search-modal #property-queries .value:first-child select:nth-child(2) {
  margin-left: 0;
}

#advanced-search-modal .multi-value .value:first-child .joiner {
  display: none;
}

#advanced-search-modal #property-queries .query-text:disabled {
  display: none;
}

#advanced-search-modal .add-value {
  margin-bottom: 0;
}

.twitter-typeahead {
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.twitter-typeahead .tt-menu {
  width: 100%;
  max-height: 75vh;
  overflow-y: auto;
  border-radius: 0;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid #000000;
}

.twitter-typeahead .tt-dataset {
  border-radius: .25rem;
}

.twitter-typeahead .tt-dataset .tt-suggestion {
  padding: .5rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid #000000;
}

.twitter-typeahead .tt-dataset .tt-suggestion:hover,
.twitter-typeahead .tt-dataset .tt-suggestion:focus,
.twitter-typeahead .tt-dataset .tt-suggestion.tt-cursor {
  background-color: #f8f9fa;
}

.twitter-typeahead .tt-dataset .tt-suggestion:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.twitter-typeahead .tt-dataset .tt-suggestion:last-child {
  border-bottom: 0;
}

/* Homepage */
#index .row {
  min-height: calc(100vh - (56px * 2));
}



/* Browse/search items */

.floating-action {
  border-radius: 28px;
  padding: 12px;
  line-height: 1;
  box-shadow: 2px 2px 3px #999;
  font-weight: bold;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.floating-action.icon-only {
  font-size: .85rem;
}

.floating-action:active,
.floating-action.active {
  box-shadow: 1px 1px 1px #999;
}

.floating-action:focus,
.floating-action.focus {
  box-shadow: 1px 1px 2px #999;
}

.floating-action span {
  padding: 12px;
}

.floating-action.icon-only span {
  padding: 0;
}

.floating-action span i {
  margin-right: .25rem;
}

.floating-action.icon-only span i {
  margin-right: 0;
}

#load-button:disabled {
  display: none;
}

.resource.browse .metadata-browse-direct-link,
.resource.browse .uri-value-link,
.resource.browse .resource-link,
.resource.search .metadata-browse-direct-link,
.resource.search .uri-value-link,
.resource.search .resource-link {
  display: none;
}

#searchFilters {
  border: 2px solid #000000;
  --bs-border-width: 2px;
  --bs-border-color: #000000;
  --bs-offcanvas-border-color: #000000;
  margin: 1rem;
  max-width: calc(100% - 2rem);
}

#searchFilters .offcanvas-header {
  background-color: rgb(205, 227, 231);
}

#searchFilters .card {
  --bs-card-border-width: 2px;
  --bs-card-border-color: #000000;

}

#searchFilters .card:not(:last-of-type) {
  border-bottom: 0;
}

#searchFilters .card .card-header {
  background-color: rgb(205, 227, 231);
  border-radius: 0;
}

#searchFilters .card:first-of-type {
  border-top: 0;
}

#searchFilters .hidden-facets .list-group-item {
  border-width: 0 0 2px;
}

#searchFilters .hidden-facets .list-group-item:first-child {
  border-top-width: 0;
}

#searchFilters .expander::after {
  width: 1.25em;
  margin-left: 0.25rem;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 14'%3e%3cpath fill='none' stroke='rgb%2833,37,41%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

#searchFilters .expander[aria-expanded="true"]::after {
  transform: rotate(-90deg);
}

#dateRangeFacet input[type="number"] {
  max-width: 6rem;
}

#date-facet-slider.noUi-target {
  height: 0.5rem;
  background: rgb(205, 227, 231);
  cursor: pointer;
  border-color: #000000;
  border-radius: 0;
  box-shadow: none;
}

#date-facet-slider .noUi-handle {
  width: 1rem;
  height: 1rem;
  right: -8px;
  top: -5px;
  background-color: #12c477;
  border-color: #000000;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#date-facet-slider .noUi-handle.noUi-active {
  background-color: #12c477;
}

#date-facet-slider .noUi-handle:focus,
#date-facet-slider .noUi-handle:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem #12c47780;
}

#date-facet-slider .noUi-handle::before,
#date-facet-slider .noUi-handle:after {
  content: none;
}

#grid-container {
  position: relative;
}

#grid-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f3f1f1;
  z-index: -1;
}

#grid-header {
  margin-bottom: 1rem;
}

#grid-header #query {
  font-size: 1.25rem;
  font-weight: bold;
}

#grid-header #query li {
  margin-left: 25px;
}

#grid-header #query li i {
  margin-left: -25px;
}

#grid-container .page-title h2 {
  font-size: 2.25rem;
  margin-bottom: 0;
}

#grid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}

.grid-item {
  background-color: initial;
}

.grid-item .card-body {
  padding: .5rem 0;
  height: 60px;
}

.item-set .grid-item .card-body {
  padding: .5rem 0;
  height: 80px;
}

.grid-item .card-img img {
  border-radius: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .5);
}

.grid-item-title {
  font-family: 'halyard-text';
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
  line-height: 1.3;
}

#sort-dropdown {
  margin-top: 1rem !important;
}

@media (min-width: 576px) {
  #grid-container {
    margin-bottom: 3rem;
  }

  #grid {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 2rem;
  }

  #sort-dropdown {
    margin-top: 1.5rem !important;
  }
}

@media (min-width:768px) {
  #grid-container::before {
    top: 4.25rem;
  }

  #grid-header {
    margin-bottom: 2rem;
  }

  #grid-header #query {
    font-size: 1.5rem;
  }

  #grid-header #query li {
    margin-left: calc(1.5rem * 1.25);
  }

  #grid-header #query li i {
    margin-left: calc(-1.5rem * 1.25);
  }

  #grid-container .page-title h2 {
    font-size: 4.5rem;
  }

  #sort-dropdown {
    margin-top: 2rem !important;
  }
}

@media (min-width:992px) {
  #grid-container::before {
    top: 4.75rem;
  }

  #grid-container .page-title h2 {
    font-size: 5.5rem;
  }
}

@media (min-width: 1200px) {
  #grid-container::before {
    top: 5.25rem;
  }

  #grid-header {
    margin-bottom: 3rem;
  }

  #grid-header #query {
    font-size: 1.75rem;
  }

  #grid-header #query li {
    margin-left: calc(1.75rem * 1.25);
  }

  #grid-header #query li i {
    margin-left: calc(-1.75rem * 1.25);
  }

  #grid-container .page-title h2 {
    font-size: 6rem;
  }

  #grid {
    --bs-gutter-x: 3rem;
    --bs-gutter-y: 3rem;
  }
}

/* Item show */
.fa-eye-slash,
.o-icon-private {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #6c757d;
  margin-left: 0.5em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-eye-slash::before,
.o-icon-private::before {
  content: "\f070";
}

.item.resource.show .date-class-type {
  font-family: "halyard-display", sans-serif;
  font-weight: bold;
  color: #6c757d;
}

.item.resource.show .openseadragon-frame,
.item.resource.show .pdfobject-container,
.mirador-viewer-frame {
  --viewer-aspect-ratio: calc(9 / 16 * 100%);
}

.embed-responsive-video {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .5);
}

@media (max-width:767px) {
  .item.resource.show .tooltip {
    display: none;
  }
}

.tab-pane {
  animation: fadeEffect 0.6s;
  display: none;
  /* Fading effect takes 1 second */
}

.tab-pane.active {
  display: block;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#media-slider-container .splide__slide button {
  height: 100%;
  padding: 0;
  padding: .25rem;
}

#media-slider-container .splide__slide button img {
  height: 100%;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .5);
}

#media-slider-container .splide__slide button.selected img {
  opacity: 0.5;
}

#media-slider-container .splide .btn-arrow {
  display: none;
}

.item.resource.show #quick-details .metadata-browse-direct-link,
.item.resource.show #quick-details .uri-value-link,
.item.resource.show #quick-details .resource-link {
  display: none;
}

#quick-details h2 {
  font-size: 2rem;
}

#quick-details .departments {
  font-size: 1.25rem;
}

#metadata {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
}

#metadata::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f3f1f1;
  z-index: -1;
}

#metadata-title {
  margin-bottom: 1rem;
}

#metadata-title h3 {
  font-size: 2.25rem;
}

.item.resource.show .property {
  margin-bottom: 1.5rem;
}

.item.resource.show .property .value {
  margin-bottom: .5rem;
}

.item.resource.show .property .value:last-child {
  margin-bottom: 0;
}

.item.resource.show .property a {
  color: #000000;
  text-decoration: none;
}

.item.resource.show .property .resource-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: .5rem;
}

.item.resource.show .property .resource-link img {
  max-height: 3rem;
  width: 3rem;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.item.resource.show .property .resource-link .resource-name {
  flex-grow: 1;
  margin-left: .75rem;
  font-family: "halyard-display", sans-serif;
  font-weight: bold;
  color: #212529;
}

.item.resource.show .collapsible.annotation .property {
  border-left: 3px solid #dfdfdf;
  border-radius: 3px;
  margin: 6px 0 12px 24px;
  width: 100%;
  padding: 0 12px;
}

.item.resource.show .collapsible.annotation .property h4 {
  font-size: 1.15rem;
  margin-bottom: .25rem;
}

.item.resource.show #citationTabContent .form-control {
  font-size: .75rem;
  border-radius: 0;
  border-width: 2px;
  border-color: #000000;
}

.item.resource.show .toast-header {
  border-top-left-radius: calc(.25rem - 2px);
  border-top-right-radius: calc(.25rem - 2px);
}

#dc-metadata dt {
  font-size: calc(1.275rem + .3vw);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

#metadata h4 {
  font-family: "halyard-text", sans-serif;
}

@media (min-width: 576px) {

  #media-slider-container .splide .btn-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
  }

  #media-slider-container .splide .btn-arrow.disabled,
  #media-slider-container .splide .btn-arrow:disabled {
    display: none;
  }

  #media-slider-container .splide .btnPrevious {
    left: -30px;
  }

  #media-slider-container .splide .btnNext {
    right: -30px;
  }

  #quick-details h2 {
    font-size: 2.25rem;
  }

  #quick-details .departments {
    font-size: 1.5rem;
  }

  #metadata {
    margin-bottom: 3rem;
  }

  #metadata .row>* {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 768px) {

  #quick-details h2 {
    font-size: 3rem;
  }

  #quick-details .departments {
    font-size: 2rem;
  }

  #metadata {
    padding-top: 0;
  }

  #metadata::before {
    top: 3.5rem;
  }

  #metadata-title {
    margin-bottom: 1rem;
  }

  #metadata-title h3 {
    font-size: 4.5rem;
  }

}

@media (min-width: 992px) {

  #quick-details h2 {
    font-size: 3.25rem;
  }

  #quick-details .departments {
    font-size: 2rem;
  }

  #metadata {
    padding-bottom: 3rem;
  }

  #metadata::before {
    content: none;
  }

  #dc-metadata {
    position: relative;
  }

  #dc-metadata::before {
    content: "";
    position: absolute;
    top: -53px;
    bottom: -3rem;
    left: 0;
    right: calc(-1.5rem - 2px);
    background-color: #f3f1f1;
    z-index: -1;
  }

  #metadata-title h3 {
    font-size: 5.5rem;
  }

  #metadata #dc-metadata {
    padding-right: .75rem;
  }

  #metadata #extra-metadata {
    padding-left: 0;
    padding-right: .75rem;
  }

  #relatedItems {
    border: 2px solid #000000;
    padding: 1.5rem;
    background-color: #fff;
  }

  #collections {
    border: 2px solid #000000;
    padding: 1.5rem;
    background-color: #febf3a;
  }

  #series {
    border: 2px solid #000000;
    padding: 1.5rem;
    background-color: #fc7687;
  }

  #categories {
    border: 2px solid #000000;
    padding: 1.5rem;
    background-color: #12c477;
  }

  #citation {
    border: 2px solid #000000;
    padding: 1.5rem;
    background-color: rgb(205, 227, 231);
  }
}

@media (min-width: 1200px) {
  #quick-details h2 {
    font-size: 3.5rem;
  }

  #quick-details .departments {
    font-size: 2.25rem;
  }

  #media-slider-container .splide .btn-arrow {
    font-size: 1.25rem;
  }

  #media-slider-container .splide .btnPrevious {
    left: -35px;
  }

  #media-slider-container .splide .btnNext {
    right: -35px;
  }

  #metadata-title h3 {
    font-size: 6rem;
  }

  #dc-metadata::before {
    top: -56px;
  }

  #dc-metadata dt {
    font-size: 1.5rem;
  }
}

/* page */
.page .row.blocks>div:not(:last-child),
.page .row.blocks .block>div:not(:last-child) {
  padding-bottom: 2rem;
}

.page .block-browsePreviewCarousel {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.page .browse-preview {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: calc(var(--bs-gutter-x) * .5);
  padding-right: calc(var(--bs-gutter-x) * .5);
  margin-bottom: 1rem;
}

.page .block:last-child .browse-preview {
  margin-bottom: 3rem;
}


.page .browse-preview::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f3f1f1;
  z-index: -1;
}

.page .browse-preview .btn-arrow.disabled {
  visibility: hidden;
}



.page .browse-preview .browse-header h2 {
  font-size: 2.25rem;
}

.page .block-archiveOnDemandAbout {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width:576px) {
  .page .browse-preview>a {
    margin-top: 1rem;
  }
}

@media (min-width:768px) {
  .page .browse-preview {
    padding-top: 0;
  }

  .page .browse-preview::before {
    top: 3.5rem;
  }

  .page .browse-preview .browse-header {
    margin-bottom: 2rem !important;
  }

  .page .browse-preview .browse-header h2 {
    font-size: 4.5rem;
  }
}

@media (min-width:992px) {
  .page .browse-preview::before {
    top: 4.25rem;
  }

  .page .browse-preview .browse-header h2 {
    font-size: 5.5rem;
  }

  .page .browse-preview .browse-header {
    margin-bottom: 2rem !important;
  }
}

@media (min-width:1200px) {
  .page .browse-preview::before {
    top: 4.75rem;
  }

  .page .browse-preview .browse-header {
    margin-bottom: 3rem !important;
  }

  .page .browse-preview .browse-header h2 {
    font-size: 6rem;
  }

  .page .browse-preview>a {
    margin-top: 2rem;
  }
}

.page .browse-preview .glider .card .resource-title {
  font-family: 'halyard-text';
}

.page .browse-preview .glider .card {
  background-color: transparent;
  border-radius: 0;
}

.page .browse-preview .glider .glider-track .card .card-body {
  padding-right: 0;
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  height: 60px;
}

.page .browse-preview button.btn-arrow {
  margin-bottom: 60px;
}

.page .browse-preview .glider .card .card-img {
  border-radius: 0;
}

.page .browse-preview .glider .card .card-img img {
  border-radius: 0;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .5) !important;
}

@media (min-width:1400px) {

  .page .row.blocks>div:not(:last-child),
  .page .row.blocks .block>div:not(:last-child) {
    padding-bottom: 3rem;
  }

  .page .browse-preview {
    padding-bottom: 3rem;
    margin-bottom: 0;
  }


}

/* error pages  */
#error-container {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: -1rem;
}

#error-container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f3f1f1;
  z-index: -1;
}

#error-container h2 {
  font-size: 2.25rem;
  margin-bottom: 1rem
}

@media (min-width:576px) {
  #error-container {
    margin-bottom: 2rem;
  }

  #error-container .row>* {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width:768px) {
  #error-container {
    padding-top: 0;
  }

  #error-container::before {
    top: 3.5rem;
  }

  #error-container h2 {
    font-size: 4.5rem;
  }
}

@media (min-width:992px) {
  #error-container {
    padding-bottom: 3rem;
  }

  #error-container::before {
    content: none;
  }

  #error-container h2 {
    font-size: 5.5rem;
  }

  #error {
    position: relative;
  }

  #error::before {
    content: "";
    position: absolute;
    top: 69px;
    bottom: -3rem;
    left: 0;
    right: 0;
    background-color: #f3f1f1;
    z-index: -1;
  }
}

@media (min-width:1200px) {
  #error-container h2 {
    font-size: 6rem;
  }

  #error::before {
    top: 75px;
  }
}